@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="centered">
        Want to check out some facts? <br /> Want to waste some precious time? <br /> You are welcome.
    </h1>
</div>

<br />


<div class="row">

    @foreach (var theme in Model.Themes)
    {
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <a href="">
                    <div class="box ratio16_9">
                        <div class="content">
                            <img src="@Url.Action("GetThemeImage", "Themes", new {themeId = theme.ThemeId})" alt="Art theme">
                        </div>
                    </div>
                    <div class="caption">
                        <h3 class="centered">@theme.Name</h3>
                    </div>
                </a>
            </div>
        </div>
    }

</div>

@foreach (var fact in Model.Facts)
{
<div class="facts-container">
    <div class="row fact-padding">
        <div>
            @if (fact.Creator == null)
            {
                <p class="fact-creator"> </p>
            }
            @if(fact.Creator != null) { 
                <p class="fact-creator">@fact.Creator.Name</p>
            }
            @*rating*@
        </div>
        <div>
            <p>@fact.Context</p>
            @foreach (var tag in fact.Tags)
            {
                <span class="tags">@tag.Name</span>
            }
        </div>
    </div>
</div>
}